.index {
  /* width: 100vh; */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 0 auto;
  /*水平居中*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  /*偏移*/
  transform: translateY(-50%);
}

.container .center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn-hover {
  position: relative;
  top: 5rpx;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0px 0px 8px #999 inset;
}

/* 镂空按钮 点击阴影不宜太深 */
.plain-hover {
  position: relative;
  top: 3rpx;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 0px 0px 10px #bbbec4 inset;
}

.bubble {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.bubble:after {
  content: "";
  background: #999;
  position: absolute;
  width: 750rpx;
  height: 750rpx;
  left: calc(50% - 375rpx);
  top: calc(50% - 375rpx);
  opacity: 0;
  margin: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.bubble:active:after {
  transform: scale(0);
  opacity: 1;
  transition: 0s;
}
